* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", "sans-serif";
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", "sans-serif";
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  color: #171100;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

/* ----------------------------------------------------- */
.header {
  background: #c82aa6;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* hero------------------------------- */

.hero .media-block .img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
  pointer-events: none;
}

.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

/* hero left--------------------- */

.hero .hero-summary {
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* hero right-------------------------------- */

.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  margin-right: 15px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* popular ----------------------- */
.popular .body {
  /* padding: 200px 135px 0; */
  padding-top: 200px;
  background: #fff;
}

.popular .hello {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.popular .intro {
  margin-top: 16px;
  margin-bottom: 55px;
  display: flex;
}

.popular .intro .navigate {
  margin-left: 614px;
  display: flex;
}

.popular .intro .navigate .arrow {
  border: none;
  background: transparent;
}

.popular .intro .navigate img {
  width: 40px;
  height: 40px;
  background-color: #ffb900;
}

.popular .no-name {
  display: flex;

  justify-content: space-between;
}

.no-name .main-stuff {
  margin: 16px 22px 32px;
}

.no-name .main-stuff .rate {
  display: flex;
}

.no-name .main-stuff .rate .idk {
  display: flex;
  margin-left: 100px;
  margin-right: 22px;
}

.no-name .main-stuff .rate .course-name {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  min-width: 167px;
}

.no-name .course {
  max-width: 370px;
  border: 0.5px solid #e2dfda;
  border-radius: 20px;
}

.no-name .rating {
  color: #fea31b;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.75; /* 175% */
}

.no-name .main-stuff .course-info {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
}

.no-name .main-stuff .cost {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  align-items: center;
}

.no-name .main-stuff .pricy {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67px; /* 166.667% */
}

/* feedback------------------- */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-item {
  display: flex;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41; /* 141.667% */
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color: #634700;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

/* feature----------------------------- */

.feature {
  padding: 65px 0;
  margin-top: 135px;
}
.feature .main-content .images {
  display: flex;
  gap: 30px;
}

.feature .main-content .learn {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.feature .main-content .body {
  display: flex;
  justify-content: space-between;
}

.feature .main-content .info {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature .learn1 {
  margin-top: 34px;
}

.feature .main-content .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.feature .main-content .btn-sign-up {
  margin-top: 32px;
  background: var(--primary-color);
  border: none;
  width: 137px;
  height: 50px;
}

/* feature 2----------- */

.feature .main-content .body-2 {
  display: flex;
  flex-direction: row-reverse;
}

.feature .main-content .learn2 {
  width: 470px;
  height: 440px;
}

.feature .main-content .info-2 {
  width: 49%;
}

/* blog--------------------------- */

.blog .main-content .heading-blog,
.desc-blog {
  text-align: center;
}

.blog .main-content .body {
  padding: 96px 0;
  margin-top: 200px;
  background: #fffcf4;
}

.blog .main-content .desc {
  margin-top: 16px;
}

.blog .main-content .news {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.blog .main-content .blog-img {
  display: block;
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  margin-bottom: 20px;
}

.blog .main-content .date {
  display: inline-block;
  position: relative;
  margin-left: -20px;
}

.rectangle {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  position: absolute;
  left: 0;
  top: 25px;
}

.blog .main-content .how {
  margin: 24px 20px;
  width: 330px;
}

.blog .main-content .btn-blog,
.lol {
  margin: 0 20px;
}

.blog .main-content .btn-blog {
  margin-top: 24px;
}

.blog .main-content .btn-blog:hover{
  color: #fff;
  background: var(--primary-color);
  border: none;
}

/* endddddddddddd */

footer .body{
  padding: 96px auto;
  margin-top: 140px;
  background: #2E2100;
  height: 428px;
}

footer .body .desc{
  color: #FFf;
  margin-top: 30px;
}

footer .body .end{
  display: flex;
  justify-content: space-around;
  height: 281px;
}

footer .body .company, .support, .address{
  flex-shrink: 0;
}

footer .body .company-mini, .support-mini, .address-mini, .social{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer .body .desc-end{
  color: #FFF;
  margin-top: 67px;
  text-align: center;
}

footer .body .desc-box{
  margin-top: 40px;
  color: #FFF;
  width: 267px;
}

footer .body .logo-lmao{
  margin-top: 30px;
}

footer .body .logo-fak{
  background: #FFF;
  margin-top: 30px;
}